@media screen and (max-width: 640px) {
     .navbar{
        width: 100%;
    }
    .navbar ul li:not(:last-child){
        border-bottom: 1px solid var(--third-color);
        padding: 15px 0;
    }
  .home .home-info h2 {
    font-size: 40px;
  }
  .title h2 {
    font-size: 70px;
    left: -70px;
    top: -20px;
  }
  .title p {
    font-size: 28px;
  }
  .about-container {
    flex-direction: column;
    text-align: center;
  }
  .about-container .about-content {
    width: 100%;
  }
  .about-container .about-data {
    width: 100%;
    text-align: start;
  }

  .about .count {
    width: 40% !important;
    border: none !important;
  }
  .about .row {
    position: relative;
  }
  .about .row::after {
    position: absolute;
    content: "";
    top: 0;
    left: 45%;
    width: 1px;
    height: 100%;
    background-color: var(--light-color);
  }
  .about .row::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light-color);
  }
  .about .count h4 {
    font-size: 30px;
  }
  .about .count p {
    font-size: 14px;
  }

  .what-info {
    width: 100%;
    flex-direction: column;
  }
  .what-i-do .coulmn {
    width: 100%;
  }
  .what-i-do .title h2 {
    left: -90px;
  }

  .resume .title h2 {
    top: -40px;
    left: -120px;
  }
  .resume-content {
    gap: 0;
  }
  .resume .column h2 {
    margin-top: 0;
  }
  .resume .column {
    width: 100%;
  }
  .skills {
    flex-direction: column;
  }
  .Portfolio .title h2 {
    left: -100px;
    top: -15px;
    font-size: 60px;
  }
  .Portfolio .title h2 {
    left: -100px;
    top: -15px;
    font-size: 60px;
  }
  .client .title h2 {
    font-size: 55px;
    left: -20px;
    top: -12px;
  }
  .contact-info {
    flex-direction: column;
  }
  .contact .title h2 {
    left: -80px;
  }
  .contact .contact-info .address {
    width: 100%;
    order: 2;
    text-align: center;
    margin-top: 10px;
  }
  .contact .contact-info .send {
    width: 100%;
    margin-left: 0;
    order: 1;
    margin-top: 20px;
  }
  .contact .contact-info .send .send-input {
    flex-direction: column;
  }
  .contact .contact-info .send .send-input .send-name {
    width: 100% !important;
  }
  .contact .contact-info .send .send-input .send-email {
    width: 100% !important;
  }
  .footer .footer-info {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 640px) and (max-width: 992px) {
  .container {
    width: 90% !important;
  }
     .navbar{
        width: 100%;
    }
  .navbar ul li:not(:last-child){
    border-bottom: 1px solid var(--third-color);
    padding: 15px 0;
}
  .about-container {
    flex-direction: column;
  }
  .about-container .about-content {
    width: 100%;
  }
  .about-container .about-content h4 {
    text-align: center;
  }
  .about-container .about-data {
    width: 100%;
  }
  .about .count {
    width: 18%;
  }
  .about .count:not(:last-child) {
    border-right: 1px dotted var(--light-color);
  }
  .about .count p {
    font-size: 12px;
  }
  .what-i-do .info-content p {
    font-size: 14px;
  }
  .contact .contact-info {
    margin-top: 50px;
  }
  .contact .contact-info .send .send-input {
    flex-direction: column;
  }
  .contact .contact-info .send .send-name {
    width: 100% !important;
  }
  .contact .contact-info .send .send-email {
    width: 100% !important;
  }
  .contact .contact-info .address {
    width: 40%;
  }
  .footer .footer-info {
    flex-direction: column;
    text-align: center;
  }
}
