@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --tetx-color: #159d74;
  --btn-bg-color: #01d596;
  --layer-bg-color: #111418bc;
  --defult-color: #ffffff;
  --dark-color: #212529;
  --light-color: rgb(222, 227, 228);
  --gray-color: rgb(76, 77, 77);
  --third-color: rgb(108, 117, 125);
  --third-bg-color: #f8f9fa;
}
/* gloable */
.title {
  margin: auto;
  width: fit-content;
  margin-top: 50px;
}
.title h2 {
  text-transform: uppercase;
  top: -40px;
  left: -160px;
  font-size: 100px;
  width: 600px;
  opacity: 0.5;
  font-weight: 600;
  color: var(--light-color);
  z-index: -1;
}
.title p {
  font-size: 32px;
  font-weight: 600;
  color: var(--dark-color);
}
.title::before {
  content: "";
  position: absolute;
  background-color: var(--tetx-color);
  width: 80px;
  height: 2.5px;
  bottom: 0;
  left: 20%;
}
.my-btn {
  border: 2px solid var(--tetx-color);
  color: #20c896;
  transition: 0.5s;
  cursor: pointer;
}
/* Start navbar */
.navbar ul li .active {
  color: #20c896 !important;
}
.navbar ul li {
  margin: 0 5px;
}
.navbar .navbar-toggler {
  cursor: pointer;
}

.navbar ul li a,
.navbar a {
  transition: 0.5s;
  color: var(--defult-color);
}
.navbar ul li a:hover {
  color: var(--tetx-color);
}
/* End navbar */
/* Start home */
.home {
  background-image: linear-gradient(
      var(--layer-bg-color),
      var(--layer-bg-color)
    ),
    url(../image/intro-bg.jpg);

  height: 100vh;
  background-position: center center;
  background-size: cover;
}
.home .home-info {
  color: var(--defult-color);
}

.home .home-info p:nth-child(1) {
  font-size: 28px;
}
.home .home-info h2 {
  font-size: 64px;
  color: var(--btn-bg-color);
}
.home .home-info p:nth-child(3) {
  font-size: 21px;
}

.home .home-info .my-btn:hover {
  color: var(--defult-color);
  background-color: var(--btn-bg-color) !important;
}
.home .arrow {
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}
.home .arrow i {
  font-size: 24px;
  color: var(--defult-color);
  animation: arrow 1.5s infinite;
}
@keyframes arrow {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(30px);
    opacity: 1;
  }
}
.home .fixed-icon {
  right: 0;
  top: 30%;
}
.home .fixed-icon {
  font-size: 18px;
  color: var(--defult-color);
  background-color: #555555;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}
/* End home */
/* Start about */
.about .title::before {
  left: 30%;
}
.about {
  padding: 70px 0;
}
.about .about-container {
  margin-top: 30px;
}
.about .about-content {
  width: 65%;
}
.about .about-data {
  width: 25%;
}
.about .about-content h4 {
  font-size: 28px;
  font-weight: 600;
}
.about .about-content span {
  color: var(--tetx-color);
}
.about .about-content p {
  line-height: 29px;
  color: var(--gray-color);
}
.about .about-data p {
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-data p:not(:nth-child(4)) {
  border-bottom: 1px solid var(--light-color);
  padding: 10px 0;
}
.about .about-data span {
  font-weight: 400;
}
.about .about-data .about-span {
  color: var(--tetx-color);
}
.about .about-data .my-btn {
  color: var(--defult-color) !important;
  background-color: var(--btn-bg-color) !important;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.15));
  border-color: var(--btn-bg-color);
}
.about .about-data .my-btn:hover {
  background-color: var(--tetx-color) !important;
  color: var(--btn-bg-color);
}
.about-count {
  padding: 50px 0;
}

.about .count:not(:last-child) {
  border-right: 1px dotted var(--light-color);
  width: 20%;
}
.about .count h4 {
  font-weight: 500;
  font-size: 48px;
  color: var(--third-color);
}
.about .count p {
  color: var(--gray-color);
}
/* End about */
/* Start what i do */
.what-i-do .title {
  z-index: 1;
}
.what-i-do {
  background-color: var(--third-bg-color);
  position: relative;
  padding: 70px 0;
}
.what-i-do .info {
  gap: 15px;
  margin: 40px 0;
}
.what-i-do .coulmn {
  width: 50%;
}
.what-i-do .info-icon {
  padding: 5px 20px;
  background-color: var(--defult-color);
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.15));
  width: 70px;
  height: 70px;
}
.what-i-do .info-icon i {
  color: var(--tetx-color);
  font-size: 30px;
  font-weight: 900;
}
.what-i-do .info-content h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 15px;
}
.what-i-do .info-content p {
  color: var(--gray-color);
  font-size: 16px;
  max-width: 85%;
}
/* End what i do */
/* Start resume */
.resume .title h2 {
  top: -60px;
}
.resume {
  padding: 70px 0;
}
.resume .resume-content {
  margin-top: 50px;
}
.resume .resume-content .column-info {
  border: 1px solid var(--light-color);
}
.resume .column h2 {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
}
.resume .column {
  width: 45%;
}
.resume h2 {
  margin: 20px 0;
}
.skills .column .column-info {
  margin-bottom: 10px;
}

.skills .column .column-info h3 {
  font-weight: 400;
  color: var(--dark-color);
}
.skills .column .column-content {
  width: 45%;
}
.skills .column .bar {
  background-color: var(--tetx-color) !important;
}
.resume .button,
.contact .button {
  width: fit-content;
  padding: 40px 0;
}
.resume .button .my-btn {
  color: var(--third-color);
  border-color: var(--third-color);
  padding: 10px 40px;
}
.resume .button .my-btn i {
  font-size: 18px;
  margin-left: 5px;
  font-weight: bold;
}
.resume .button .my-btn:hover {
  background-color: var(--third-color);
  color: var(--defult-color);
}

/* End resume */
/* Start Portfolio */
.Portfolio {
  padding: 50px 0;
  background-color: var(--third-bg-color);
}
.Portfolio .title {
  z-index: 1;
}
.Portfolio ul li a {
  color: var(--gray-color);
  font-weight: 500;
}
.Portfolio ul li .active {
  color: var(--tetx-color) !important;
  border-bottom: 2px solid var(--tetx-color);
}
.Portfolio ul li a:hover {
  color: var(--btn-bg-color) !important;
}
.Portfolio .portfolio-card {
  margin-top: 50px;
  columns: 3 250px;
  gap: 10px;
}
.Portfolio .portfolio-card .img {
  margin-bottom: 10px;
  overflow: hidden;
}
.Portfolio .portfolio-card img {
  width: 100%;
  transition: all 0.5s;
  display: block;
}
.Portfolio .portfolio-card .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.5s;
}
.Portfolio .portfolio-card .img:hover .overlay {
  opacity: 1;
}
.Portfolio .portfolio-card .img:hover img {
  transform: scale(1.1);
}
/* End Portfolio */
.client {
  padding: 50px 0;
}

.client .title h2 {
  margin-left: -70px;
}
.client .client-info {
  padding: 70px 0;
}
.client .client-info .item {
  background-color: var(--third-bg-color);
}
.client .client-info .item .info-img img {
  width: 70px;
}
.client .client-info .item .info-content p {
  color: var(--dark-color) !important;
  font-weight: 600;
  margin-bottom: 10px;
}
.client .client-info .item .info-content span {
  color: var(--gray-color) !important;
  font-weight: 500;
}
.client .client-info p {
  color: var(--dark-color) !important;
  font-weight: 500;
}
/* End client */
/* start contact */
.contact {
  padding: 50px 0;
  background-color: var(--third-bg-color);
}
.contact .title {
  z-index: 1;
}
.contact .contact-info .address {
  width: 20%;
}
.contact .contact-info .address h2,
.contact .contact-info .send h2 {
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 15px;
}
.contact .contact-info .address p {
  color: var(--gray-color);
}
.contact .contact-info .address .info {
  margin-bottom: 20px;
}
.contact .contact-info .address span {
  color: var(--tetx-color);
  font-size: 18px;
  font-weight: 900;
  margin-right: 10px;
}
.contact .contact-info .address h2:last-child {
  margin-top: 20px;
}

.contact .contact-info .send {
  width: 80%;
  margin-left: 50px;
}
.contact .contact-info .send .send-tetxarea textarea {
  resize: vertical;
}
.contact .button .my-btn {
  padding: 10px 40px;
  background-color: var(--btn-bg-color);
  color: var(--defult-color);
  border: none;
}
.contact .button .my-btn:hover {
  background-color: var(--tetx-color);
  color: var(--defult-color);
}
/* End contact */
/* Start footer */
.footer {
  padding: 50px 0;
}
.footer ul {
  list-style-type: none;
}
.footer a {
  text-decoration: none;
}
.footer .footer-content p {
  color: var(--dark-color);
}
.footer .footer-content span a {
  color: var(--btn-bg-color);
}
.footer .footer-content span a:hover {
  color: var(--tetx-color);
}
.footer .footer-info ul li a {
  color: var(--dark-color);
}
.footer .footer-info ul li a:hover {
  color: var(--btn-bg-color);
}
.footer .footer-info ul li:nth-child(1)::after {
  content: "";
  position: absolute;
  background-color: var(--light-color);
  width: 2px;
  height: 15px;
  left: 108%;
  top: 20%;
}
/* End footer */

.owl-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.owl-theme .owl-dots .owl-dot {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  padding: 15px;
}
.owl-theme .owl-dots .active {
  border: 1px solid var(--btn-bg-color) !important;
}
.owl-theme .owl-dots .active span {
  background-color: var(--btn-bg-color) !important;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--btn-bg-color);
}

.owl-theme .owl-dots .owl-dot:hover {
  border-color: var(--btn-bg-color);
}
